<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul class="item-list">
        <li class="item">
          <div class="item-image">SCIENCE</div>
          <div class="item-detail">
              <b><a href="">Theory</a></b>
              <em>Detail</em>
                      </div>
        </li>
        <li class="item">
          <div class="item-image">MATHS</div>
          <div class="item-detail">
              <b><a href="">Theory</a></b>
              <em>Detail</em>
                      </div>
        </li>
        <li class="item">
          <div class="item-image">EVS</div>
          <div class="item-detail">
              <b><a href="">Theory</a></b>
              <em>Detail</em>
                      </div>
        </li>
        <li class="item">
          <div class="item-image">SOCIAL</div>
          <div class="item-detail">
              <b><a href="">Theory</a></b>
              <em>Detail</em>
                      </div>
        </li>
      </ul>
</body>
</html>